//main header
.headerMainDiv{
    height: 52px;
    background-color: black;
    color: white;
}
.salarText{
    padding-left: 10px;
    width: 100px;

}
.deliveryText{
        width: 100px;

}
.input{
    width: 30%;
    height: 35px;
}
.rightText{
    // text-align: end;
}
//categories header
.categoriesText{
    color: black;
    font-size: 11px;
    text-align: center;
}
.card{
    width: 150px;
    height: 150px;
}
